img {
    width: 230px;
    height: 230px;
}

a {
    color: #584910 !important;
    text-decoration: none !important;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #faf6f0 !important;
}

.centered-div {
    text-align: center;
    padding: 20px;
}

.d-flex {
    display: flex;
    justify-content: center;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.margin-right-2 {
    margin-right: 1rem;
}

.list-group-item {
    border: none !important;
    background-color: #faf6f0 !important;
}
.list-group-item .list-group-item-action:hover {
    z-index: 1;
    color: #495057 !important;
    text-decoration: none;
}
